html {
  height: 100%; }

body {
  background: #fff;
  height: 100%; }

h1 {
  color: #000; }

a {
  cursor: pointer; }

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px; }

.details {
  list-style: none; }

.footer {
  background-color: #101010;
  color: #fff;
  height: 70px; }

.perfil-img {
  width: auto;
  height: 260px; }

.img-pedido {
  width: 120px;
  height: 120px;
  padding: 10px;
  margin: 0px;
  float: left;
  color: #fff; }
  .img-pedido .img {
    display: block;
    width: 100%;
    height: auto; }

.navbar {
  border-radius: 0px !important; }

.navbar-inverse .navbar-text {
  color: #ffffff; }

.navbar-inverse .navbar-brand {
  color: #ffffff; }
