<div class="container" id="wrap">
    <div class="row">
        <h2>{{title}}</h2>
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ] " ng-controller="PedidosController">
            <ul class="event-list">
                <li ng-repeat="pedido in pedidos | filter: filterPedidos">
                    <div class="img-pedido">
                        <img ng-src="{{pedido.src}}" class="img-responsive" />
                    </div>
                    <div class="info">
                        <h2 class="title">{{pedido.nome}}</h2>
                        <p class="desc">{{pedido.descricao | limitTo:60}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>