<div class="container" id="wrap">
    <h2 class="text-center">{{title}}</h2>
    <div class="row" ng-controller="PedidosController">
        <div class="col-md-3" ng-repeat="pedido in pedidos | filter: filterPedidos">
            <div class="thumbnail">
                <img ng-src="{{pedido.src}}" class="img-pedido col-xs-12">
                <div class="caption">
                    <h4 class="pull-right"><span class="label label-info">R$ {{pedido.preco}}</span></h4>
                    <h4>{{pedido.nome}}</h4>
                    <p>{{pedido.descricao | limitTo:60}}</p>
                </div>
            </div>
        </div>
    </div>
</div>