<script>
    $(document).ready(function() {
        $("#modalAlert").modal({
            dismible: true
        });
        $("#modalConfirm").modal({
            dismible: true
        });
        $("#modalLoad").modal({
            dismible: true
        });
    });
</script>
<!-- Modal Alert -->
<div id="modalAlert" class="modal">
    <div class="modal-content">
        <br />
        <h4 class="blue-text">Mensagem do Sistema</h4>
        <hr />
        <h5></h5>
    </div>
    <div class="modal-footer row">
        <a href="#!" class="modal-action modal-close btn white-text blue col s12 l4">Ok</a>
    </div>
</div>

<!-- Modal Confirm -->
<div id="modalConfirm" class="modal">
    <div class="modal-content">
        <br />
        <h4 class="blue-text">Mensagem do Sistema</h4>
        <hr />
        <h5>Confirmar lorempixel</h5>
    </div>
    <div class="modal-footer">
        <a href="#!" id="btnSim" class="btn-flat blue white-text right">Confirmar</a>
        <a href="#!" class="modal-action modal-close grey darken-2 white-text btn-flat right" style="margin-right: 50px">Cancelar</a>
    </div>
</div>

<!-- Modal Load -->
<div id="modalLoad" class="modal">
    <div class="modal-content">
        <br />
        <h4>Aguarde</h4>
        <div class="progress white">
            <div class="indeterminate blue"></div>
        </div>
    </div>
</div>