<div class="container">
    <div class="row">
        <div class="col s8 m8 l6">
            <h2 class="blue-text">
                PEDIDO
                <br>
                <span class="blue-text text-darken-1" style="font-weight: 600;">
                    REALIZADO
                    <div class="line blue darken-1" style="width: 12%;"></div>
                </span>
            </h2>
        </div>
        <div class="col push-l1 s4 m4 l5 pg-bar hide-on-med-and-down">
            <h6 class="st-pedido blue-text" style="font-size:16px; font-weight:400;">CONFIRME SEU PEDIDO <span class="right">PEDIDO REALIZADO</span></h6>
            <div class="progress blue lighten-2">
                <div class="determinate blue" style="width: 100%"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l12 m12 s12">
            <h5 class="green-text"> RECEBEMOS A SOLICITAÇÃO DO SEU RESGATE</h5>
            <p>
                Obrigada por participar do Programa Bevi Mais Analisaremos sua solcitação e em breve você recebera uma mensagem com as informações do seu pedido.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col l6 m12 s12 z-depth-1">
            <p>
                <b>Endereço para entrega:  {{usuario.nome}</b><br> Rua {{usuario.endereco[1].logradouro}, {{usuario.endereco[1].numero} {{usuario.endereco[1].bairro}, {{usuario.endereco[1].cidade} - {{usuario.endereco[1].UF}<br> CEP: {{usuario.endereco[1].cep}
            </p>
            <p><span class="red-text">Importante: </span>Caso este endereço na esteja correto, <a href="/Home/AlterarDados">clique aqui</a> para alterar.</p>
        </div>
        <div class="col push-l2 l4 m12 s12 z-depth-1">
            <p>
                <h6>
                    <b>Dúvidas sobre o seu resgate?</b>
                </h6>
            </p>
            <p>Em caso de dúvidas, entre em contato pelo telefone <b>(11) 2424-8480</b> ou, envie uma mensagem pelo <a href="/Home/FaleConosco">Fale Conosco.</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col  l12 m12 s12">
            <br>
            <h5 class="grey-text">RESUMO DO PEDIDO:</h5>
            <table class="bordered centered">
                <thead class="grey white-text">
                    <tr>
                        <th data-field="produto">Produto</th>
                        <th data-field="quantidade">Quantidade</th>
                        <th data-field="pontos">Pontos / Item</th>
                        <th data-field="total">Total</th>
                    </tr>
                </thead>
                <tfoot class="grey-text">
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <h6 class="blue-text"><b>Total de pontos utilizados:</b></h6>
                        </td>
                        <td id="total"></td>
                    </tr>
                </tfoot>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h6 class="col push-l9 l3 m12 s12"><i class="material-icons left">keyboard_return</i><a href="/Home/Index" onclick="limparCarrinho();">Voltar a pagina de produtos</a></h6>
    </div>
</div>
<br>
<br>
<!-- container -->

<script>
    $(document).ready(function() {
        debugger;
        //    loadCart(); 
        // resgateFinalizado();
        // limparCarrinho();
    });
</script>