<!-- row -->
<div class="slider col s12 m12 l12 hide-on-med-and-down">
    <!-- slider -->
    <ul class="slides col s12 m12 l12">
        <li>
            <img src="/images/slide1.jpg" class="responsive-img">
        </li>
        <li>
            <img src="/images/slide2.jpg" class="responsive-img">
        </li>
        <!--<li>
                <img src="/images/slide3.jpg" class="responsive-img">
            </li>-->
    </ul>
</div>
<!-- slider -->

<div class="container">
    <div class="row">
        <!-- row -->

        <!-- col -->
        <div class="card bl-conteudo">
            <div class="card-content left col s12 m12 l6 ">
                <div class="card-content blue-text left-align">
                    <h3 class="blue-text">O QUE É A</h3>
                    <h2 class="blue-text text-darken-1" style="font-weight: 600;">
                        HAPPY?
                        <div class="line blue darken-1"></div>
                    </h2>
                </div>
                </br>
                <p class="left-align" style="margin-left: 20px;">
                    A Happy é um programa onde você junta pontos através da venda de crédito consignado e troca por eletroeletrônicos, viagens, carro, moto e também pelo cartão Bevi Mais Mastercard, o jeito mais inovador e rápido de resgatar seus pontos. O cartão Bevi Mais
                    Mastercard é aceito em todos os estabelecimentos comerciais e fácil de utilizar no dia a dia.
                </p>
            </div>
            <div class="card-content right col s12 m12 l6">
                <div class="card-content  blue-text left-align ">
                    <h3 class="blue-text">COMO</h3>
                    <h2 class="blue-text text-darken-1" style="font-weight: 600;">
                        FUNCIONA?
                        <div class="line blue darken-1"></div>
                    </h2>
                </div>
                </br>
                <p class="left-align" style="margin-left: 20px;">
                    Concentre suas vendas de Crédito Consignado com a Bevicred e junte pontos. Quanto mais você vende, mais você junta pontos no programa Bevi Mais. Depois, é só entrar no site, escolher o seu prêmio e trocar. Juntar pontos no Bevi Mais é fácil por simples
                    motivo: Eles já fazem parte do seu dia a dia de trabalho.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- row -->
<div class="row blue darken-3 bloco-video">
    <div class="container">
        <div class="col s12 m12 l7 no-padding ">
            <!-- col -->
            <div class="card z-depth-1 center" style="line-height:0.7;">
                <img src="/images/cardd2.jpg" title="Happy" style="width:100%;" />
            </div>
        </div>
        <!-- col -->
        <div class="col s12 m12 l5 ">
            <h5 class="white-text">CARTÃO HAPPY </h5>
            <h4 class="white-text" style="margin-top: -7px;">
                <div class="line white" style="width: 4%;"></div>
            </h4><br />
            <p class="white-text">
                Ótima opção de premiação dentro do catálogo de desejos!
            </p>
            <div class="row">
                <br />
                <!--<div class="lvideo">
                        <a class="btn right" href="/Login/GaleriaVideos" style="background: transparent;">VEJA MAIS VÍDEOS </a><i class="material-icons white-text" style="font-size: 30px;">keyboard_arrow_right</i>
                    </div>-->
            </div>
        </div>
    </div>
</div>
<!-- row -->