<div class="container">
    <div class="row">
        <div class="col s12 m12 l10 ">
            <div class="idt-text">
                <h2 class="blue-text">IDENTIFICAÇÃO</h2>
                <div class="line blue darken-1"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col s11 l10 m9 push-l1 push-m1 push-s1 c-login">
            <div class="col s12 m12 l5 push-l1">
                <div class="login">
                    <h5>JÁ TENHO CADASTRO</h5>
                    <br>
                    <form ng-submit="formSubmit()" class="form">
                        <div class="input-field">
                            <i class="material-icons prefix" style="margin-left: -10px;">account_circle</i>
                            <input placeholder="CPF/Email" id="icon_prefix" ng-model="username" type="text" class="validate" required>
                            <br>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix" style="margin-left: -10px;">lock_outline</i>
                            <input placeholder="Digite sua senha" id="icon_prefix" ng-model="password" type="password" class="validate" required>
                            <br>
                        </div>
                        <a id="modalSenha" href="#modalEsqueciSenha">Esqueci minha senha</a>
                        <br>
                        <br>
                        <input class="col  l12 s12 m12 btn-large" type="submit" value="ACESSAR" style="display: block;text-align: center;">
                </div>
                </form>
            </div>
            <div class="col s11 m12 l5 push-l1">
                <div class="cadastro">
                    <h5>QUERO CADASTRAR</h5>
                    <br>
                    <ul style="text-align: left;">
                        <li>- Receba ofertas e promoções</li>
                        <li>- Agilize seus resgates</li>
                    </ul>
                    <form id="formQueroCadastrar" action="/cadastro" method="post">
                        <div class="input-field" style="position: relative;margin-top: 31px !important;height: 106px;">
                            <i class="material-icons prefix" style="margin-left: -10px;">account_circle</i>
                            <input id="cpfCadastro" name="cpfCadastro" type="text" placeholder="Digite seu CPF" class="validate">
                            <br>
                            <br>
                        </div>
                        <input class="btn-large col push-l1 l11 s11" type="submit" value="CADASTRAR" id="btnCadastrar" style="display: block;text-align: center;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!-- Modal Esqueci a Senha-->
<div id="modalEsqueciSenha" class="modal">
    <div class="modal-content">
        <br />
        <h4 class="blue-text">Recuperar Senha</h4>
        <hr />
        <br />
        <div class="row">
            <span><b>Para receber a sua senha, informe-nos o seu e-mail:</b></span>
            <div class="input-field col offset-l1 l10 m12 s10">
                <input id="emailReset" type="email" placeholder="email@mail.com.br" class="validate">
            </div>
        </div>
    </div>
    <div class="modal-footer row">
        <a href="#" id="modalEsqueciSenhaYes" class="modal-action modal-close btn-flat blue white-text col s12 center">Confirmar</a>
        <a href="#" class="modal-action modal-close grey darken-2 white-text btn-flat center col s12" id="btnCancelarReset">Cancelar</a>
    </div>
</div>