<div class="container" ng-controller="ProdutosController">
    <div class="card small card-home blue darken-2">
        <!-- Perfil -->
        <div class="row">
            <div class="card-content white-text row">
                <div class="col m4 l2 hide-on-med-and-down">
                    <div class="icon-perfil-5"></div>
                </div>
                <div class="col s6 m6 l4 info-perfil">
                    <span class="card-title">
                        <h5>
                            Olá,{{usuario.nome}}                        
                    </h5>
                    </span>
                    <h6>Você possui: <b><span class="pontos-usuario">{{usuario.pontos}}</span> pontos</b> Aproveite!</h6>
                    <br />
                    <h6>
                        <a href="#!" class="white-text altSenha" onclick="javascript: $('#modalAlterarSenha').modal('open');"><u><b>alterar senha</u></b></a>
                    </h6>
                </div>
                <div class="col s12 m12 l3 btn-home" style="text-align:right;">
                    <a class="waves-light btn-large modalEx" id="modalEx" style="padding-top: 10px;" data-toggle="modal"><i class="icon-extrato"></i><h6>Extrato de Pontos</h6></a>
                    <a class="waves-light btn-large modalRes" id="modalRes" style="padding-top: 10px;" data-toggle="modal"><i class="icon-ac-resgates"></i><h6 style="" class="">Acompanhar Resgate</h6></a>
                    <a class="waves-light btn-large modalSim" id="modalSim" style="padding-top: 10px;" data-toggle="modal"><i class="icon-simulador"></i><h6>Simulador</h6></a>
                </div>
                <div class="col s12 m12 l3 btn-home">
                    <a class="waves-light btn-large " style="padding-top: 10px;" href="" data-toggle="modal" onclick="javascript: ExportarAnalitico();"><i class="icon-relatorio"></i><h6>Relatório de Produção</h6></a>
                    <a class="waves-light btn-large " style="padding-top: 10px;" href="/Home/AlterarDados"><i class="icon-edit-perfil"></i><h6>Alterar Dados</h6></a>
                    <a class="waves-light btn-large " style="padding-top: 10px;" href="/Home/FaleConosco"><i class="icon-fale-conosco"></i><h6>Fale Conosco</h6></a>
                </div>
            </div>
        </div>
    </div>

    <!--produtos-->
    <div class="row">

        <!-- row -->
        <ul id="prod-list" ng-repeat="produto in produtos | filter: filterProdutos">
            <li>
                <div class="col s12 m6 l4">
                    <!-- col -->
                    <div class="col m12 l12 s12 card medium sticky-action">

                        <div class="card-image waves-effect waves-block">
                            <img class="activator responsive-img" id="@produto.CodigoInterno-strImagem" src="images/{{produto.srcImg}}">
                            <span class="info-prod">*imagem meramente ilustrativa</span>
                        </div>
                        <div class="card-content produto">
                            <span class="card-title activator">
                                    <h5 class="truncate" id="@produto.CodigoInterno-descricao">{{produto.descricao}}</h5>                                  
                                        <h6 class="blue-text pontos" id="@produto.CodigoInterno-pontos"><b>{{produto.preco}}</b></h6>                               
                                    <i class="material-icons  right small">keyboard_arrow_up</i>
                                    <h6 class="grey-text right activator">Descrição</h6>
                                </span>
                        </div>
                        <div class="card-action">
                            <div class="row">
                                <div class="col s8 m8 l8">
                                    <button class="btn add addProd" href="#" data-id="@produto.CodigoInterno" data-valor="@produto.int_pontos">ADICIONAR AO CARRINHO</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title blue-text truncate">{{produto.descricao}}<i class="material-icons right">close</i></span>
                            <p>{{produto.descricao}}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- container -->
<!-- Modal Confirmar -->
<div id="modalConfirmar" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4></h4>
        <div class="modal-body">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn  modal-action" id="btnSim">Sim</button>
        <button type="button" class="btn modal-close" id="btnNao">Não</button>
    </div>
</div>

<!-- Modal Login -->
<div id="modalLogin" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Mensagem do Sistema</h4>
        <div class="modal-body">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn  modal-action modal-action" id="btnSim">Ok</button>

    </div>
</div>

<!-- Modal Extrato de Pontos-->
<div id="modalExtratoPontos" class="modal">
</div>

<!-- Modal Resgates-->
<div id="modalResgates" class="modal">
</div>


<!-- Modal Alterar de Senha -->
<div class="modal" id="modalAlterarSenha">
    <div class="modal-content">
        <br />
        <h4 class="blue-text">Alterar Senha</h4>
        <hr />
        <br />
        <div class="row">
            <div class="input-field col offset-l1 l10 m12 s12">
                <input id="senhaAtual" type="password" placeholder="Senha Atual" class="" name="SenhaAtual">
            </div>
        </div>
        <div class="row">
            <div class="input-field col offset-l1 l5 m6 s12">
                <input id="senhaReset" type="password" placeholder="Nova senha" class="" name="Senha">
            </div>
            <div class="input-field col offset-l1 l5 m6 s12">
                <input id="confirmSenhaReset" type="password" placeholder="Confirme a nova senha" class="" name="SenhaConfirm">
            </div>
        </div>
        <div class="row">
            <div class="col offset-l5 l7 m6 s12">
                <span id="lblMessage" class="blue-text center"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" id="btnResetSenha" class="btn-flat blue white-text center right">Confirmar</a>
        <a href="#" class="modal-action modal-close grey darken-2 white-text btn-flat center right" style="margin-right: 50px" id="btnCancelarReset">Cancelar</a>
    </div>
</div>

<script>
    var id;
    var id_usuario = 1;
    (function() {
        $(window).resize(function() {
            if ($(window).width() < 1279) {
                $('.col.s12.m6').removeClass('l4');
                $('.col.s12.m6').addClass('l6');
            } else {
                $('.col.s12.m6').removeClass('l6');
                $('.col.s12.m6').addClass('l4');
            }
        });

        $(document).ready(function() {
            //   voltagem
            $(".addVoltagem").on('click', function(ev) {
                ev.preventDefault();
                debugger;
                var self = $(this);
                id = self.data('id');
                valor = self.data('valor');
                $("#modalVoltagem").modal({
                    ready: function(modal, trigger) {
                        id = id;
                        $("#modalVoltagem #btnSim").on('click', function(e) {
                            debugger;
                            voltagem = $("#voltagem option:selected").text().replace("v", "");
                            quant = $("#" + id + "-quantidade").val();
                            //valor = $("#" + id + "-pontos").text().replace(".", "");
                            if (checkSaldo(valor, quant)) {
                                addProduto(id, voltagem, valor);
                                $("#modalVoltagem").modal('close');
                            } else {
                                $("#modalVoltagem").modal('close');
                                fnShowMessage("Saldo Insuficiente");
                            }
                            e.stopImmediatePropagation();
                        });
                    },
                });
                AbrirModal("modalVoltagem");
            });

            //cartao
            $(".addPontos").on('click', function(ev) {
                ev.preventDefault();
                debugger;
                var self = $(this);
                id = self.data('id');
                $("#modalRecarga").modal({
                    ready: function(modal, trigger) {
                        id = id;
                        valor2 = $("#pontos-recarga").val();
                        $("#modalRecarga #btnSim").click(function(ev) {
                            debugger;
                            voltagem = 0;
                            if (carrinho.length > 0) {
                                for (var i = 0; i < carrinho.length; i++) {
                                    if (carrinho[i].CodigoInterno == id) {
                                        valor = $("#pontos-recarga").val();
                                    } else {
                                        valor2 = 0;
                                        valor = $("#pontos-recarga").val();
                                    }
                                }
                            } else {
                                valor2 = 0;
                                valor = $("#pontos-recarga").val();
                            }
                            if (valor == "" || parseInt(valor) < 24000) {
                                fnShowMessage("O valor minimo é de 24.000 pontos.");
                                ev.stopImmediatePropagation();
                            } else if (valor2 == $("#pontos-recarga").val()) {
                                fnShowMessage("Digite um valor diferente!");
                                ev.stopImmediatePropagation();
                            } else {
                                if (checkSaldo(valor, 1)) {
                                    addProduto(id, voltagem, valor);
                                    $("#modalRecarga").modal('close');
                                    ev.stopImmediatePropagation();
                                } else {
                                    $("#modalRecarga").modal('close');
                                    fnShowMessage("Saldo Insuficiente");
                                    ev.stopImmediatePropagation();
                                }

                            }
                            ev.stopImmediatePropagation();
                        });
                    },
                });
                AbrirModal("modalRecarga");
            });

            //comum
            $(".addProd").on('click', function(ev) {
                ev.preventDefault();
                var self = $(this);
                id = self.data('id');
                voltagem = 0;
                valor = self.data('valor');
                quant = $("#" + id + "-quantidade").val();
                if (checkSaldo(valor, quant)) {
                    addProduto(id, voltagem, valor);
                } else {
                    fnShowMessage("Saldo Insuficiente");
                }
            });

            $("#modalSimulador").modal();
            $("#modalExtratoPontos").modal();
            $("#modalResgates").modal();
            $("#modalAlterarSenha").modal();

            // events
            $(".modalSim").click(function() {
                AbrirModal('modalSimulador');
            });

            $(".modalEx").on('click', function() {
                LoadModalExtratoPontos();
            });

            $(".modalRes").click(function() {
                LoadModalResgates();
            });

            $("#btnResetSenha").click(function(e) {
                e.preventDefault();
                debugger;
                var data = {
                    senhaAtual: $("#senhaAtual").val().trim(),
                    novaSenha: $("#senhaReset").val().trim(),
                    senhaConfirm: $("#confirmSenhaReset").val().trim(),
                };
                fnInvoke("/Home/AlterarSenha", "GET", "JSON", data, false, function(data) {
                    if (!data.result) {
                        $("#modalAlterarSenha").modal('close');
                        fnShowMessage(data.message);
                    } else {
                        $("#modalAlterarSenha").modal('close');
                        fnShowMessage(data.message);
                        $("#modalLoad").modal('close');
                    }

                });
            });
        });

        function checkSaldo(valor, quantidade) {
            var saldo = parseInt($("#saldo-usuario").text().trim());
            var total = parseInt($(".pontos-total").text().trim());
            isNaN(total) ? total = 0 : total = total;
            var item = valor * quantidade;
            total = total + item;
            if (total <= saldo) {
                return true;
            } else {
                return false;
            }
        }
    })();
</script>